<template name="collectfromweb">
  <div class="center cyan-text task-title">
        <h3><b>Collect data from Facebook (2/8)</b></h3>
    </div>

  <div class="collectfromwebbox">
  	<div class="heading-bar bg_cyan">
  		Facebook data collection
  	</div>
  	<div class="t_content">
      <b>Link to the Facebook </b><br>
      <a href="https://www.facebook.com/AnimalFriendsWV/?fref=ts" target="_blank">https://www.facebook.com/AnimalFriendsWV/?fref=ts</a>
      <div class="receiptbox">
        <b>Organization Name</b><br>
        <input name="storename" id="storename" class="" type="text"/>
      </div>
      <div class="receiptbox">
        <b>Categories (e.g. Computer company, government organization)</b><br>
        <input name="category" id="category" class="" type="text"/>
      </div>
      <div class="receiptbox">
        <b>Street Address(e.g. 1234 Main st. Gaithersburg, MD ) </b><br>
        <input name="address" id="address" class="" type="text"/>
      </div>
      <div class="receiptbox">
        <b>Phone Number(e.g. (123)456-7890 )</b><br>
        <input name="phone" id="phone" class="" type="text"/>
      </div>
  		<button class="confirm-button"><i class="fa fa-paper-plane" aria-hidden="true"></i>Send</button>
  	</div>
  	
  </div>

</template>