<template name="collectfromY">
  <div class="center cyan-text task-title">
        <h3><b>Search data from web (4/8)</b></h3>
    </div>

  <div class="collectfromwebbox">
  	<div class="heading-bar bg_cyan">
  		Data Collection Instructions
  	</div>
  	<div class="t_content">
    Find the founder and/or CEO's direct email addresses for companies that have been given Y combinator funding.<br>
    Payment will only be given for entries that follow the job title, and direct email guidelines outlined above.<br>
    Email addresses that are generic and do not go directly to the decision maker will be rejected and will not receive payment<br> (examples of rejected emails are: help@company.com, hello@company.com, team@company.com, hi@company.com,<br> support@company.com, pr@company.com, etc.)<br>
    The company name is provided, and the Y COMBINATOR website below is a good source for finding required information.<br><br>
      <b>Y combinator List</b><br>
      <a href="http://yclist.com/" target="_blank">http://yclist.com/</a>
      <br> Find the following company information<br>
      <div class="receiptbox">
        <b>Organization Name: Coinbase</b>
      </div>
      <div class="receiptbox">
        <b>CEO name</b><br>
        <input name="name" id="name" class="" type="text"/>
      </div>
      <div class="receiptbox">
        <b>Email </b><br>
        <input name="email" id="email" class="" type="text"/>
      </div>
      <div class="receiptbox">
        <b>Title</b><br>
        <input name="title" id="title" class="" type="text"/>
      </div>
  		<button class="confirm-button"><i class="fa fa-paper-plane" aria-hidden="true"></i>Send</button>
  	</div>
  	
  </div>

</template>