<template name="findCD">
  <div class="center cyan-text task-title">
        <h3><b>American Beauty/American Psycho (7/8)</b></h3>
    </div>

  <div class="collectfromwebbox">
  	<div class="heading-bar bg_cyan">
  		Album information
  	</div>
  	<div class="t_content">
      Please find the following information of the album<br>
      <b>American Beauty/American Psycho</b>
      <div class="receiptbox">
        <b>Group Name</b><br>
        <input name="name" id="name" class="" type="text"/>
      </div>
      <div class="receiptbox">
        <b>Member</b><br>
        <input name="member" id="member" class="" type="text"/>
      </div>
      <div class="datebox">
          <b>Released Date(MM/DD/YYYY)</b>
          <div class="input-group datepicker">
             <input name="released" id="released" class="set-due-date form-control" type="text"/>
          </div>
      </div>

  		<button class="confirm-button"><i class="fa fa-paper-plane" aria-hidden="true"></i>Send</button>
  	</div>
  	
  </div>

</template>