<template name="hello">
    <div class="transcriptionbox">
	  	<div class="heading-bar bg_cyan">
	  		Amazon Truk worker
	  	</div>
	  	<div class="t_content">
	  		Note: Please do not refresh the website when you doing the tasks.<br>
	  		Please input your Amazon Turk worker id.<br>
	  		We will use the id to create verify code when you finish the test<br>
	  		<b>Amazon Turk worker id </b><input type="text" id="turkid" name="turkid"> <br>
	  		<button class="confirm-button"><i class="fa fa-paper-plane" aria-hidden="true"></i>Start Test</button>
	  	</div>
  	
  </div>
</template>