<template name="imageLabeling">
  <div class="center cyan-text task-title">
        <h3><b>Spot the difference(6/8)</b></h3>
    </div>

  <div class="collectfromwebbox">
  	<div class="heading-bar bg_cyan">
      Spot the difference
  	</div>
  	<div class="t_content t_content_long">
      <b>Write down any objects in the drawing that are <u>NOT</u> in the photograph<br>
      example:</b><br>
      <img src="./output/example.jpg"><br>
      Some drawings will have NEW objects that are not in the photograph. <br>Write down the names of those objects under NEW.<br>
      Some drawings will have EXTRA copies of an object. Count and write down those objects under EXTRA.<br>
      Just write down the extra objects you find, up to a maximum of 5.<br>
      <br><br><br><br>
      Answer for this drawing below
      <table>
        <tr>
          <td><img src="./output/low_skyscraper.jpg" class="task-image"></td>
          <td><img src="./output/34_3_low_skyscraper.jpg" class="task-image"></td>
        </tr>
      </table>
      <div class="receiptbox">
        <b>New things</b><br>
        <input name="things" id="things" class="" type="text"/>
      </div>
  		<button class="confirm-button"><i class="fa fa-paper-plane" aria-hidden="true"></i>Send</button>
  	</div>
  	
  </div>

</template>