<template name="survey">
  <div class="center cyan-text task-title">
        <h3><b>Survey(3/8)</b></h3>
    </div>

  <div class="collectfromwebbox">
  	<div class="heading-bar bg_cyan">
  		Interface survey
  	</div>
  	<div class="t_content">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf087Pjcs4v3LsibIKp0wFaHw_mw69M736W8_GwykepdzFRkw/viewform?embedded=true" width="800" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe><br>
  		<button class="confirm-button"><i class="fa fa-paper-plane" aria-hidden="true"></i>Next</button>
  	</div>
  	
  </div>

</template>