<template name="transcribepicture">
  <div class="center cyan-text task-title">
        <h3><b>Black hole(3/5)</b></h3>
    </div>
  <div class="imagebox">
  	<div class="heading-bar bg_cyan">
  		Image display
  	</div>
  	<div class="i_content">
  		<img src="./output/black_hole.png" class="task-image">
  	</div>
  </div>

  <div class="transcriptionbox">
  	<div class="heading-bar bg_cyan">
  		transcroption box transcribe image
  	</div>
  	<div class="t_content">
  		This job requires a final transaction in text format. Please type in what you hear below.<br>
  		<textarea type="text" id="transaction-content" name="transaction-content"> </textarea>
  		<button class="confirm-button"><i class="fa fa-paper-plane" aria-hidden="true"></i>Send</button>
  	</div>
  	
  </div>

</template>